.toolbar-search-form
  min-width 180px
  max-width 700px
  height 64px

.mat-form-field
  width 100%
  margin 0 8px 0 0

.select-type-container
  flex 1 1 auto
  min-width 50px
  max-width 250px
  margin 0 8px 0 0
  height 64px

.mat-option
  height 64px

.search-container
  flex 2 2 auto
  min-width 280px
  max-width 700px
  height 64px

.post-item-img
  vertical-align middle
  margin-right 8px
  height 32px

[dir='rtl'] .post-item-img
  margin-right 0
  margin-left 8px

