<app-select-search-type class="select-type-container"></app-select-search-type>

<div class="search-container">
  <form class="toolbar-search-form">
    <mat-form-field class="search-field-container">
      <input [formControl]="search" [matAutocomplete]="auto" placeholder="Type to search" aria-label="State"
             [(ngModel)]="value" matInput>

      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let post of posts | async" [value]="post.title" routerLink="/blog/{{post.id}}">
          <img [src]="post.imageURL" aria-hidden class="post-item-img">
          <span>{{post.title}}</span>
        </mat-option>
      </mat-autocomplete>

    </mat-form-field>
  </form>
</div>

