.mat-toolbar.mat-primary
  position sticky
  top 0
  z-index 1

.mat-toolbar-single-row
  padding 0

.mat-icon-button
  margin auto 16px auto 8px

.toolbar-spacer
  flex 2 1 auto

.toolbar-search
  display flex
  flex-direction row
  pading 4px 8px 4px 8px
  flex 1 2 auto
