<mat-toolbar class="my-toolbar" color="primary">
  <button (click)="toggle()" aria-label="Toggle sidenav" class="menu-button" mat-icon-button type="button">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>banha.me</span>
  <span class="toolbar-spacer"></span>
  <app-search-field *ngIf="isBlog" class="toolbar-search"></app-search-field>
</mat-toolbar>
