horizontal-align()
  margin-right auto
  margin-left auto

vertical-align()
  margin-top auto
  margin-bottom auto

.card-container
  margin 16px 8px 16px 8px

.mat-card
  max-width 700px
  horizontal-align()

.mat-form-field
  max-width 400px
  display block
  horizontal-align()

.content-container
  display inline-block
  text-align center
  height 16px
  width 100%

.content-container p
  display inline-block
  padding-left 16px
  padding-right 16px
  vertical-align()

.content-container hr
  display inline-block
  width 40%
  height 1px
  border 0
  border-top 1px solid #E0E0E0
  vertical-align()

.social-button-container
  display block
  text-align center
  width 100%

.social-button
  display: inline-block;
  text-align left
  margin 4px 16px 4px 16px
  padding 8px
  width 40%
  min-width 250px
  max-height 56px
  border-radius 8px

.social-button-elements-container
  display flex
  justify-content flex-start

.social-button img
  margin 4px
  width 48px
  height 48px

.image-social-button
  width 56px

.name-social-button
  width 100%

.name-social-button h3
  justify-content center
  margin 18px 24px 18px 8px

.actions
  float right

.actions button
  margin-left 8px
