<div class="card-container">
  <mat-card>

    <mat-card-header>
      <mat-card-title>Sign in to the app!</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="social-button-container">
        <div class="social-button mat-elevation-z0" matRipple>
          <div class="social-button-elements-container">
            <div class="image-social-button">
              <img alt="Google Logo" src="../../assets/images/google-logo.svg"/>
            </div>
            <div class="name-social-button">
              <h3>Google</h3>
            </div>
          </div>
        </div>

        <div class="social-button mat-elevation-z0" matRipple>
          <div class="social-button-elements-container">
            <div class="image-social-button">
              <img alt="Facebook Logo" src="../../assets/images/facebook-logo.svg"/>
            </div>
            <div class="name-social-button"><h3>Facebook</h3></div>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-content>
      <div class="content-container">
        <hr>
        <p>OR</p>
        <hr>
      </div>
    </mat-card-content>

    <mat-card-content>
      <form>
        <mat-form-field>
          <input [errorStateMatcher]="matcher" [formControl]="emailFormControl" matInput
                 [(ngModel)]="username" placeholder="Email" type="email" value="banha.ivan@gmail.com">

          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>

          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="password" [errorStateMatcher]="matcher" [formControl]="passwordFormControl" matInput
                 placeholder="Password" type="password" value="12345678">

          <mat-error *ngIf="emailFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button (click)="goBack()" mat-button>GO BACK</button>
      <div class="actions">
        <button (click)="login()" color="primary" mat-flat-button>LOG IN</button>
        <!--<button (click)="login()" color="primary" mat-stroked-button>SIGN UP</button>-->
      </div>
    </mat-card-actions>

  </mat-card>
</div>
