<mat-form-field class="toolbar-select-search-type-form">
  <mat-select placeholder="Search mode">
    <mat-option (click)="setType(mode.id)" *ngFor="let mode of modes" [value]="mode.name">
      {{mode.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
