<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)"
               [fixedInViewport]="true">
    <mat-toolbar>
      <div *ngIf="isSigned(); then profile else login"></div>

      <ng-template #profile>
        <div class="nav-profile-info">
          <img src="https://lh3.googleusercontent.com/a-/AAuE7mCpaLZYBS5bfZb1H8dG7VTNwtzeRFO7mdPKd_LA=s192"
               class="nav-profile-image" alt="Avatar">
          <h2>Ivan Banha</h2>
          <button mat-button>Logout</button>
          <mat-divider></mat-divider>
        </div>
      </ng-template>

      <ng-template #login>
        <div class="nav-profile-info">
          <img src="../assets/images/ic_profile.svg"
               class="nav-profile-image" alt="Avatar">
          <h2>Login</h2>
          <a href="/login">
            <button mat-button>Login</button>
          </a>
          <mat-divider></mat-divider>
        </div>
      </ng-template>
    </mat-toolbar>

    <mat-nav-list>
      <a href="blog" mat-list-item>Blog</a>
      <a href="profile" mat-list-item>Profile</a>
      <a href="portfolio" mat-list-item>Portfolio</a>
      <a href="about" mat-list-item>About</a>

      <div *ngIf="isSigned(); then items"></div>
      <ng-template #items>
        <mat-divider></mat-divider>
        <a href="dashboard" mat-list-item>Dashboard</a>
      </ng-template>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-main-toolbar></app-main-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
