block-align()
  display block
  margin-left auto
  margin-right auto

.sidenav-container
  height 100%

.sidenav
  width: 280px

.sidenav .mat-toolbar
  height 240px
  background inherit

.post-card
  margin 16px

.nav-profile-info
  width 100%
  min-height 184px

.nav-profile-info img
  width 96px
  height 96px
  block-align()
  border-width 1px
  border-style solid
  border-color #303030
  border-radius 50%

.nav-profile-info button
  width 90%
  margin-right 16px
  margin-left 16px
  text-align center

.nav-profile-info h2
  text-align center
  margin-top 8px
