.grid-container
  margin 20px

.item
  width 100%

.item-container
  display flex
  flex-direction row

.example-button-row
  margin-top auto
  margin-bottom auto
  display flex
  flex-direction row
  align-content space-around
  justify-content center
