<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-list role="list">
    <div *ngFor="let post of posts" class="item-container">
      <div class="item" matRipple>
        <mat-list-item role="listitem">
          <img matListAvatar src="{{post.authorPhotoURL}}">
          <h3 matLine> {{post.title}} </h3>
          <p matLine>
            <span>Published by {{post.authorFullName}} in {{post.created_at}} </span>
          </p>
        </mat-list-item>
      </div>
      <div class="example-button-row">
        <button color="primary" mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
        </button>
        <button color="warn" mat-icon-button>
          <mat-icon (click)="deleteItem(post.id)" aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-list>
</div>
