<div class="card-container">
  <mat-card *ngFor="let post of posts" class="post-card">

    <mat-card-header>
      <div mat-card-avatar>
        <img alt="Author's Photo" class="card-header-image" src="{{post.authorPhotoURL}}">
      </div>
      <mat-card-title>
        {{post.title}}
      </mat-card-title>
      <mat-card-subtitle>
        Published by {{post.authorFullName}} in {{post.created_at}}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="image-container card-ripple-container mat-elevation-z0" matRipple
                      routerLink="/blog/{{post.id}}">
      <img alt="Photo of the post" mat-card-image src="{{post.imageURL}}">
      <p>{{post.text}}</p>
    </mat-card-content>

  </mat-card>
</div>
