.post-card
  @media (min-width 1025px)
    margin 0 16px 24px 16px
    max-width 800px
  @media (max-width 1024px)
    margin 0 16px 24px 16px
    max-width 650px
  @media (max-width 768px)
    margin 0 8px 16px 8px
    max-width 600px
  @media (max-width 576px)
    margin 0 4px 8px 4px
    max-width 600px


.card-container
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content center
  @media (min-width 1025px)
    padding 32px
  @media (max-width 1024px)
    padding 24px
  @media (max-width 768px)
    padding 16px 8px 0 8px
  @media (max-width 576px)
    padding 8px 4px 0 4px

.card-header-image
  background-size cover
  width 40px
  height 40px
  border-radius 50%

.mat-card-content p
  text-align left

.image-container
  margin 0
  padding 0

.card-ripple-container
  cursor pointer
  text-align center
  padding 5px
  user-select none
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none

  -webkit-user-drag none
  -webkit-tap-highlight-color transparent

/** Styles to make the demo look better. */
.example-ripple-checkbox
  margin 6px 12px 6px 0


.example-ripple-form-field
  margin 0 12px 0 0

