<div class="post-container">
  <mat-card class="show-post-card">
    <mat-card-header>
      <mat-card-title>Actions</mat-card-title>
      <mat-card-subtitle>Actions</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
      <button (click)="goBack()" mat-button>GO BACK</button>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="show-post-card">

    <mat-card-header>
      <div class="show-post-header-image" mat-card-avatar>
        <img alt="Author's Photo" class="card-header-image" src="{{post.authorPhotoURL}}">
      </div>
      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle>{{post.authorFullName}}</mat-card-subtitle>
    </mat-card-header>

    <img alt="Photo of Post" mat-card-image src="{{post.imageURL}}">

    <mat-card-content>
      <p>{{post.text}}</p>
    </mat-card-content>

  </mat-card>
</div>
