.post-container
  margin-left 8px
  margin-right 8px

.show-post-card
  position relative
  margin-top 16px
  margin-bottom 16px
  margin-left auto
  margin-right auto
  max-width 1000px

.show-post-card :host
  padding-left 16px
  padding-right 16px

.card-header-image
  background-size cover
  width 40px
  height 40px
  border-radius 50%
